<?xml version="1.0" encoding="UTF-8"?>
<SM>
    <SCHOOL_NAME>
        Ecole Chabab El-Amel
    </SCHOOL_NAME>
    <SCHOOL_NAME_ABBREVIATION>
        Chabab El-Amel
    </SCHOOL_NAME_ABBREVIATION>
    <SCHOOL_YEAR>
        2019/2020
    </SCHOOL_YEAR>
    <SCHOOL_ADRESS>
        Cité du Stand, 05000 Batna, Algérie
    </SCHOOL_ADRESS>
    <SCHOOL_EMAIL>
        crmbatna@gmail.com
    </SCHOOL_EMAIL>
    <SCHOOL_PHONE>
        0559391346 ou 0560240308
    </SCHOOL_PHONE>
    <SCHOOL_TWITTER>
        http://Our_Adress_on_Twitter.com
    </SCHOOL_TWITTER>
    <SCHOOL_FACEBOOK>
        http://Our_Adress_on_Facebook.com
    </SCHOOL_FACEBOOK>
</SM>